# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
build/
dist/

# macOS
.DS_Store

# PyCharm files
.idea/

# Environments
.env
.venv
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# Visual Studio Code
.vscode/

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# pytest
.pytest_cache/
coverage.xml
.tox/

# Translations
*.mo
*.pot

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/
